.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #eee;
  padding: 20px 10px;
  font-family: sans-serif;
}

.sidebar-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
}

.sidebar-menu {
  list-style: none;
  padding-left: 0;
}

.sidebar-item {
  margin-bottom: 10px;
  text-align: left;
}

.sidebar-link {
  display: flex;
  align-items: center;
  color: #333;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  /* justify-content: space-between; */
  text-align: left;
}

.sidebar-link:hover {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.sidebar-link svg {
  margin-right: 10px;
  flex-shrink: 0;
}

.submenu {
  list-style: none;
  padding-left: 20px;
  margin-top: 5px;
  text-align: left;
}

.submenu li a {
  text-decoration: none;
  color: #555;
  padding: 5px 10px;
  display: block;
  text-align: left;
}

.submenu li a:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}
